<div class="form">
<h1 class="Title">Login</h1>

<form action="/login" method="post" role="form" enctype="application/x-www-form-urlencoded">


  
     <input type="text" name="username" id="username" placeholder="Username">
     <p></p>

      <input type="password" name="password" id="password" placeholder="Password">
      <p></p>
  <input class="button" type="submit" value="Ingresar"/></br>
   

</form>
</div>
<p></p>
<a href="./signup">
   <button class="button">Registrarse</button>
</a>
