
    <h1 class="Title">Signup</h1>
    <form action="/signup" method="post">
        <input type="text" name="name"/placeholder="Name"></br>
        <p></p>
        <input type="text" name="username"/placeholder="Username"></br>
        <p></p>
        <input type="text" name="password"/placeholder="Password"></br>
        <p></p>
        <input class="button" type="submit" value="Registrarme"/></br>
    </form>
    
    <a href="./login">
    <p></p>
   <button class="button">Ingresar</button>
</a>